name: Docker Image Web CI

on:
 push:
    branches: [ "main" ]
    paths:
      - 'web/**'
      - '.github/workflows/docker-image-web.yml'
    # Publish semver tags as releases.
    tags: [ 'v*' ]
 pull_request:
    branches: [ "main" ]
 workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          context: web
          build-contexts: project=web
          platforms: linux/amd64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest
